<footer data-component="footer" data-aem-component="Footer (v1)" class="footer">
  <div class="fixed-width-container footer__container">
    <div class="footer__lg">
      <div class="footer__img-container">
        
      </div>

      <div class="footer__items-wrapper">
        <div class="footer__items-container">
          <div class="footer__head">Company</div>

          <ul class="footer__items-list">
            <li class="footer__items">
              <a
                href="https://www.mindsprint.org/about.html"
                class="footer__items-link"
                target=""
                aria-label=""
                >About us</a
              >
            </li>

            <li class="footer__items">
              <a
                href="https://www.mindsprint.org/careers.html"
                class="footer__items-link"
                target=""
                aria-label=""
                >Time Zones</a
              >
            </li>

            <li class="footer__items">
              <a
                href="https://www.mindsprint.org/contact.html"
                class="footer__items-link"
                target=""
                aria-label=""
                >Contact us</a
              >
            </li>
          </ul>
        </div>

        <div class="footer__items-container">
          <div class="footer__head">Services</div>

          <ul class="footer__items-list">
            <li class="footer__items">
              <a
                href="https://www.mindsprint.org/services.html"
                class="footer__items-link"
                target=""
                aria-label=""
                >Overview</a
              >
            </li>

            <li class="footer__items">
              <a
                href="https://www.mindsprint.org/services/digital-transformation-services.html"
                class="footer__items-link"
                target=""
                aria-label=""
                >Time Designs</a
              >
            </li>

            <li class="footer__items">
              <a
                href="https://www.mindsprint.org/services/enterprise-transformation-services.html"
                class="footer__items-link"
                target=""
                aria-label=""
                >Time entry designs for dashboard</a
              >
            </li>

            <li class="footer__items">
              <a
                href="https://www.mindsprint.org/services/business-process-services.html"
                class="footer__items-link"
                target=""
                aria-label=""
                >Customizations </a
              >
            </li>

            <li class="footer__items">
              <a
                href="https://www.mindsprint.org/services/cybersecurity-and-privacy-services.html"
                class="footer__items-link"
                target=""
                aria-label=""
                >Customer support</a
              >
            </li>
          </ul>
        </div>

      <!-- <hr style="color: aliceblue;"> -->

      <div class="footer__social-media-wrapper">
        <div class="footer__copyright">
          <p>ⓒ All Rights Reserved 2023 By ExcelR Solutions</p>
        </div>
<br>
        
      </div>

  <button class="footer__btnBackToTop" style="display: block">
    <span class="footer__arrow-up"></span>
  </button>

  
  <!-- OneTrust Cookies Settings button end -->
        </div>
        </div>
    </div>

</footer>
